:root {
    --black : #1D1D24;
    --grey : #212129;
    --light-grey : #2a2a33;
    --white : #cecece;
    --green : #1EB980;
    --red : #FF4B4B;
    --yellow : #FFC700;
    --blue-grey: #2f2f3b;
    --box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    --nav-height: 40px;
    --font-small: 14px;
    --font-medium: 18px;
    --font-large: 24px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--black);
}
::-webkit-scrollbar-thumb {
    background: #1EB980;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #25df9a;
}
input[type=text] {
    border: none;
    text-indent: 0px;
}
input:not([type=checkbox], [type=button]) {
    outline: none;
    border: none;
    border-bottom: 1px solid #727272;
    height: 30px;
    width: 200px;
    color: #1EB980;
    background: transparent;
    text-indent: 0px;
    transition: 0.2s;
    -webkit-user-select: none;
    user-select: none;
}
input[type=checkbox] {
    height: 15px;
    width: 15px;
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
    transition: 0.2s;
    border-bottom: 1px solid #1EB980;
}
input[type=email]:hover:not(:focus), input[type=password]:hover:not(:focus), input[type=text]:hover:not(:focus) {
    transition: 0.2s;
    border-bottom: 1px solid #1EB980;
}
::placeholder {
    color: #a5a5a5;
    text-indent: 0px;
}
button {
    background: transparent;
    color: #1EB980;
    transition: 0.2s;
    padding: 8px;
    min-width: 150px;
    border: 1px solid #1EB980;
}
button:hover {
    transition: 0.2s;
    cursor: pointer;
    background: #1EB980;
    color: #ffffff;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--grey);
    overflow-y: auto;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #a5a5a5;
    transition: 0.2s;
}
hr {
    border: 1px solid #727272;
}
a:hover {
    color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
}
.align-center {
    display: flex;
    align-items:center;
}
.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#error {
    color: tomato;
    font-size: small;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 10px;
}
#login-form, #register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 550px;
}
#login-form .link {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}
#error-page {
    display: flex;
    font-size: 28px;
    color: #1EB980;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}
#remember-me-text {
    font-size: 14px;
    display: inline;
}
.link {
    font-size: 14px;
    color: #1e77d7;
    font-style: italic;
}
.link:hover {
    color: #278dfb;
}
.clickable {
    cursor: pointer;
}
#maintenance {
    position: fixed;
    text-align: center;
    top: 20%;
    left: 0;
    right: 0;
    color: #1EB980;
}
#register {
    display: none;
}
#banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #1EB980;
    color: #000;
    font-weight: bold;
    font-size: .6rem;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none;
}
h1 {
    color: #1EB980;
    font-weight: normal;
    letter-spacing: 1px;
}
nav {
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--black);
    color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    height: var(--nav-height);
    font-size: var(--font-large);
    box-shadow: var(--box-shadow);
}
#logo {
    cursor: pointer;
}
#breadcrumbs {
    position: absolute;
    left: 100px;
    font-size: var(--font-small);
    color: var(--white);
}
#logout {
    cursor: pointer;
    font-size: var(--font-small);
    color: var(--white);
    padding: 15px 20px;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
}
#logout:hover {
    color: var(--red);
    border: 1px solid var(--red);
    transition: 0.2s ease-in-out;
}
#logout:active {
    color: var(--white);
    background: var(--red);
    border: 1px solid var(--red);
    transition: 0.2s ease-in-out;
}
#container {
    position: absolute;
    width: 100%;
    margin-top: 50px;
}
#side-menu-right {
    position: absolute;
    top: 55px;
    width: 30vw;
    right: 15px;
    height: 600px;
    background-color: var(--light-grey);
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
    overflow-y: auto;
}
#info-panel {
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 60vh;
    background-color: var(--light-grey);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
    overflow-x: hidden;
}
.category {
    margin-top: 55px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    max-height: 205px;
    width: 55vw;
    max-width: 810px;
    background-color: var(--light-grey);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
}
.category-title {
    -webkit-user-select: none;
    user-select: none;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--green);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
.category-title p {
    margin: 0;
    padding: 10px;
    font-size: var(--font-medium);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category .item {
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    padding: 20px;
    font-size: var(--font-small);
    width: 10vw;
    min-width: 205px;
    margin: 10px;
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--white);
    transition: 0.2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.category .item:hover {
    color: var(--green);
    border: 1px solid var(--green);
    transition: 0.2s ease-in-out;
}
.category .item:active:is(.category .item:hover) {
    color: var(--white);
    background: var(--green);
    transition: 0.2s ease-in-out;
}
.list-item {
    color: var(--white);
    padding: 10px;
    border-bottom: 1px solid var(--grey);
    transition: 0.2s ease-in-out;
}
.list-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-item:hover {
    color: var(--green);
    transition: 0.2s ease-in-out;
}
.list-item-title {
    font-weight: bold;
    font-size: var(--font-medium);
}
.list-item-content {
    font-size: var(--font-small);
    width: 100%;
}
.list-item-content p:not(.info) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 50px;
    margin-right: 50px;
}
.list-item-remove {
    float: left;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
    margin-top: -41.5px;
    padding: 10px;
    cursor: pointer;
    font-size: var(--font-small);
    color: var(--white);
    transition: 0.2s ease-in-out;
}
.list-item-remove:hover, .list-item-remove:active {
    color: var(--red);
    transition: 0.2s ease-in-out;
}
#progress-bar {
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    background-color: var(--black);
}

#progress-bar #progress-bar-fill {
    height: 100%;
    background-color: var(--green);
    width: 0%;
}

#upload-file-button {
    background: transparent;
    color: #fff;
    transition: 0.2s;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#upload-file-button:hover {
    transition: 0.2s;
    cursor: pointer;
    color: #1EB980;
}

.fileName {
    display: inline;
}

.fileSize {
    font-size: 10px;
    margin-top: 12px;
    margin-bottom: 2px;
}

#add-redirect-container, #add-rule-container {
    position: absolute;
    margin-left: 10vw;
    margin-right: 10vw;
}

#add-redirect-container button, #add-rule-container button {
    margin-right: 10px;
    margin-bottom: 10px;
}

#add-redirect-inputs, #add-rule-input {
    display: inline;
}

.notification {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: var(--black);
    color: var(--white);
    padding: 4px 8px;
    box-shadow: var(--box-shadow);
    z-index: 1000;
    border-right: 5px solid var(--light-grey);
    font-size: var(--font-small);
}

.error {
    border-right: 5px solid var(--red);
}

.success {
    border-right: 5px solid var(--green);
}

.warning {
    border-right: 5px solid var(--yellow);
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
}

.popup-title {
    font-size: var(--font-medium);
    color: var(--white);
    border-bottom: 1px solid var(--white);
    text-align: center;
    font-weight: bold;
}

.popup-content {
    font-size: var(--font-small);
    color: var(--white);
    text-align: center;
    padding: 10px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--light-grey);
    color: var(--white);
    z-index: 100000;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    width: 400px;
    height: 200px;
}

.popup-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.loading {
    width: 100%;
    height: 16px;
    /* background: var(--grey); */
    border-radius: 5px;
    background: linear-gradient(to right, var(--light-grey) 20%, var(--blue-grey) 70%, var(--light-grey) 100%);
    animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
    from {
        transform: translateX(-230%);
    }
    to {
        transform: translateX(230%);
    }
}

/* Check if the screen is less than 980 pixels wide */
@media only screen and (max-width: 980px) {
    #side-menu-right {
        position: absolute;
        left: 15px;
        right: 15px;
        width: unset;
        height: unset;
   }
    #category-container {
        position: absolute;
        top: 680px;
        width: 100%;
   }
    .category {
        width: unset;
        max-width: unset;
        margin-top: unset;
   }

    #add-redirect-inputs, #add-rule-input {
        display: inline-block;
    }

    .notification {
        padding: 2px 6px;
        font-size: 12px;
        right: 15px;
        bottom: 15px;
    }
}
@media only screen and (max-width: 568px) {
    .category-content {
        display: flex;
        flex-direction: column;
        align-items: center;
   }
    #info-panel {
        margin-left: 15px;
        margin-right: 15px;
   }
   #add-redirect-container {
        margin-left: 15px;
   }
}