:root {
    --black : #1D1D24;
    --grey : #212129;
    --light-grey : #2a2a33;
    --white : #cecece;
    --green : #1EB980;
    --red : #FF4B4B;
    --box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    --nav-height: 40px;
    --font-small: 14px;
    --font-medium: 18px;
    --font-large: 24px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: #1EB980;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #25df9a;
}

input[type=text] {
    border: none;
    text-indent: 5px;
}

input:not([type=checkbox], [type=button]) {
    outline: none;
    border: none;
    border-bottom: 1px solid #727272;
    height: 30px;
    width: 200px;
    color: #1EB980;
    background: transparent;
    text-indent: 5px;
    transition: 0.2s;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
    transition: 0.2s;
    border-bottom: 1px solid #1EB980;
}

input[type=email]:hover:not(:focus), input[type=password]:hover:not(:focus), input[type=text]:hover:not(:focus) {
    transition: 0.2s;
    border-bottom: 1px solid #1EB980;
}

::placeholder {
    color: #a5a5a5;
    text-indent: 5px;
}

button {
    background: transparent;
    color: #1EB980;
    transition: 0.2s;
    padding: 8px;
    min-width: 150px;
    border: 1px solid #1EB980;
}

button:hover {
    transition: 0.2s;
    cursor: pointer;
    background: #1EB980;
    color: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--grey);
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: #a5a5a5;
    transition: 0.2s;
}

hr {
    border: 1px solid #727272;
}

a:hover {
    color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
}

.align-center {
    display: flex;
    align-items:center;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


#error {
    color: tomato;
    font-size: small;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 10px;
}

#login-form, #register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 550px;
}

#login-form .link {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

#error-page {
    display: flex;
    font-size: 28px;
    color: #1EB980;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}

#remember-me-text {
    font-size: 14px;
    display: inline;
}

.link {
    font-size: 14px;
    color: #1e77d7;
    font-style: italic;
}

.link:hover {
    color: #278dfb;
}

#maintenance {
    position: fixed;
    text-align: center;
    top: 20%;
    left: 0;
    right: 0;
    color: #1EB980;
}

#register {
    display: none;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #1EB980;
    color: #000;
    font-weight: bold;
    font-size: .6rem;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none;
}

h1 {
    color: #1EB980;
    font-weight: normal;
    letter-spacing: 1px;
}

nav {
    user-select: none;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--black);
    color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    height: var(--nav-height);
    font-size: var(--font-large);
    box-shadow: var(--box-shadow);
}

#logo {
    cursor: pointer;
}

#breadcrumbs {
    position: absolute;
    left: 100px;
    font-size: var(--font-small);
    color: var(--white);
}

#logout {
    cursor: pointer;
    font-size: var(--font-small);
    color: var(--white);
    padding: 15px 20px;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
}

#logout:hover {
    color: var(--red);
    border: 1px solid var(--red);
    transition: 0.2s ease-in-out;
}

#logout:active {
    color: var(--white);
    background: var(--red);
    border: 1px solid var(--red);
    transition: 0.2s ease-in-out;
}

#container {
    position: absolute;
    width: 100%;
    margin-top: 50px;
}

#side-menu-right {
    position: absolute;
    top: 55px;
    width: 30vw;
    right: 25px;
    min-height: 300px;
    max-height: 600px;
    height: 65vh;
    background-color: var(--light-grey);
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
    overflow-y: auto;
}

#info-panel {
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 15vw;
    margin-right: 15vw;
    height: 60vh;
    background-color: var(--light-grey);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
    overflow-x: hidden;
}

.category {
    margin-top: 55px;
    margin-bottom: 25px;
    margin-left: 25px;
    height: 25vh;
    min-height: 200px;
    max-height: 400px;
    width: 55vw;
    background-color: var(--light-grey);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
}

.category-title {
    user-select: none;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--green);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.category-title p {
    margin: 0;
    padding: 10px;
    font-size: var(--font-medium);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.category .item {
    user-select: none;
    display: inline-block;
    padding: 20px;
    font-size: var(--font-small);
    height: 2vh;
    width: 10vw;
    min-width: 205px;
    margin: 10px;
    color: var(--white);
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.category .item:hover {
    color: var(--green);
    border: 1px solid var(--green);
    transition: 0.2s ease-in-out;
}

.category .item:active {
    color: var(--white);
    background: var(--green);
    border: 1px solid var(--green);
    transition: 0.2s ease-in-out;
}

.list-item {
    color: var(--white);
    padding: 10px;
    border-bottom: 1px solid var(--grey);
    transition: 0.2s ease-in-out;
}

.list-item p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.list-item:hover {
    color: var(--green);
    transition: 0.2s ease-in-out;
}

.list-item-title {
    font-weight: bold;
    font-size: var(--font-medium);
}

.list-item-content {
    font-size: var(--font-small);
}

.list-item-content p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.progress-bar {
    position: absolute;
    right: 10px;
    left: 10px;
    height: 5px;
    background-color: var(--black);
}

.progress-bar .progress-bar-fill {
    height: 100%;
    background-color: var(--green);
    width: 50%;
}